.DS_Store
.idea/
.vscode/
.venv
venv/
.tool-versions

build/
__pycache__/
*.pyc
*.egg-info
.eggs
version.py
.dccache
.coverage

/tests/**/snapshots/*.log
/tests/data/*.txt
/tests/data/pat_cem.pkl

scripts_and_notebooks/flag_oil.csv
scripts_and_notebooks/live_oil_script.ipynb
